default_install_hook_types:
-   pre-commit
-   commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
    -   id: autoflake
        args: [
            --remove-all-unused-imports,
            --remove-unused-variables,
            --expand-star-imports,
            --in-place
            ]

-   repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
    -   id: black
        args: [--line-length=79]
